@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url(/font/PretendardVariable.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(/font/Caveat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f0e9df;
  font-family: "Pretendard";
}

header {
  position: fixed;
  width: 500px;
  height: 50px;
  top: 50px;
  right: 50px;
  background-color: rgba(173, 118, 97, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50px;
  z-index: 100;
}
header .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
header .menu li a {
  color: #fff;
  font-weight: bold;
  transition: 0.2s;
}
header .menu li:hover a {
  color: #57463f;
}

#section0 {
  width: 100%;
  height: 90vh;
  padding-top: 40px;
}
#section0 .swrap {
  position: relative;
  margin: 0 20px 20px;
  height: 100%;
  border: 3px solid #ad7661;
}
#section0 .swrap .tit {
  width: 57%;
  position: absolute;
  left: 50px;
  top: 55%;
  transform: translateY(-55%);
  text-align: right;
}
#section0 .swrap .tit h1 {
  font-size: 10vw;
  font-weight: 900;
  color: #ad7661;
  line-height: 0.8;
}
#section0 .swrap .tit p {
  margin-bottom: 100px;
  font-size: 3vw;
  font-weight: 700;
  color: #b09582;
}
#section0 .swrap .con {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  height: 40px;
  line-height: 40px;
  display: flex;
}
#section0 .swrap .con p {
  flex: 1 50%;
  text-align: center;
  /* padding-right: 20px; */
  border-top: 1px solid #ad7661;
  border-bottom: 1px solid #ad7661;
  color: #b09582;
  font-weight: 500;
  font-size: 1vw;
}
#section0 .swrap .con p:first-child {
  border-right: 1px solid #ad7661;
}

#section1 {
  width: 100%;
  height: 99.3vh;
}
#section1 .swrap {
  height: 100%;
  margin: 0 20px;
  border-left: 3px solid #ad7661;
  border-right: 3px solid #ad7661;
  border-bottom: 3px solid #ad7661;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  /* background-image: url(/img/clouds.png);
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-position: 100% 100%; */
}
#section1 .swrapper {
  display: flex;
  gap: 70px;
}
#section1 .swrapper > p {
  height: 170px;
}
#section1 .swrapper > p img {
  height: 100%;
  object-fit: cover;
}
#section1 .swrap .pwrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 50%;
  background-color: #ad7661;
}
#section1 .swrap .pwrap {
  position: relative;
  padding-left: 70px;
  max-width: 800px;
  width: 80%;
}
#section1 .swrap .pwrap .profile {
  margin-bottom: 30px;
}
#section1 .swrap .pwrap .profile .ptxt .name {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ad7661;
  border-bottom: 1px solid #ad7661;
  padding: 5px 0;
  padding-left: 5px;
}
#section1 .swrap .pwrap h3 {
  font-size: 25px;
  color: #57463f;
}
#section1 .swrap .pwrap .profile .ptxt .name .bir {
  font-size: 13px;
  color: #ad7661;
}
#section1 .swrap .pwrap .profile .ptxt .list {
  display: flex;
  gap: 50px;
  padding-left: 5px;
}
#section1 .swrap .pwrap .profile .ptxt .list li {
  font-size: 15px;
  margin-bottom: 10px;
}
#section1 .swrap .pwrap .edu {
  margin-bottom: 30px;
}
#section1 .swrap .pwrap .edu h3 {
  margin-bottom: 20px;
  border-top: 1px solid #ad7661;
  border-bottom: 1px solid #ad7661;
  padding: 5px 0;
  padding-left: 5px;
}
#section1 .swrap .pwrap .edu ul {
  display: flex;
  gap: 20px;
  padding-left: 5px;
}
#section1 .swrap .pwrap .edu ul li p {
  margin-bottom: 10px;
}
#section1 .swrap .pwrap .edu ul .year {
  font-size: 14px;
  margin: 3px 0 27px;
}
#section1 .swrap .pwrap .edu ul .infoa {
  font-size: 20px;
  word-break: keep-all;
}
#section1 .swrap .pwrap .edu ul .infoa span {
  font-size: 12px;
}
#section1 .swrap .pwrap .skills h3 {
  margin-bottom: 20px;
  border-top: 1px solid #ad7661;
  border-bottom: 1px solid #ad7661;
  padding: 5px 0;
  padding-left: 5px;
}
#section1 .swrap .pwrap .skills ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
#section1 .swrap .pwrap .skills p {
  height: 50px;
  text-align: center;
}
#section1 .swrap .pwrap .skills p img {
  height: 100%;
  object-fit: cover;
}

#section2 {
  width: 100%;
  overflow: hidden;
}
#section2 .swrap {
  margin: 0 20px;
  border-left: 3px solid #ad7661;
  border-right: 3px solid #ad7661;
  padding-bottom: 50px;
}
#section2 .swrap .project {
  margin: 0 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 100px;
}
#section2 .swrap .project > p {
  position: relative;
  width: 50%;
  padding-right: 100px;
}
#section2 .swrap .project > p img {
  width: 100%;
  object-fit: contain;
}
#section2 .swrap .project > p::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 80%;
  background-color: #ad7661;
}
#section2 .swrap .txt h1 {
  color: #8c645a;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Caveat";
  line-height: 0.6;
}
#section2 .swrap .txt .site {
  margin-bottom: 30px;
  font-size: 60px;
  color: #57463f;
}
#section2 .swrap .txt > p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.4;
  word-break: keep-all;
}
#section2 .swrap .txt .wrapper {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  margin-bottom: 50px;
  font-size: 15px;
}
#section2 .swrap .txt .wrapper .wrap .work {
  margin-bottom: 15px;
  font-weight: 600;
}
#section2 .swrap .txt .wrapper .wrap div p {
  margin-bottom: 5px;
}
#section2 .swrap .txt .wrapper .wrap .winfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}
#section2 .swrap .txt .link {
  display: flex;
  gap: 30px;
}
#section2 .swrap .txt .link li {
  width: 105px;
}
#section2 .swrap .txt .link li a {
  display: block;
  border: 2px solid #ad7661;
  border-radius: 50px;
  background-color: #fff;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}
#section2 .swrap .txt .link li:hover a {
  background-color: #ad7661;
  color: #fff;
}

footer {
  width: 100%;
  height: 300px;
}
footer .swrap {
  height: 90%;
  margin: 0 20px 20px;
  background-color: #ad7661;
  position: relative;
}
footer .swrap .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 80px;
  align-items: center;
}
footer .swrap .icon li a {
  display: block;
  width: 50px;
  border: 3px solid #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .swrap .icon li img {
  width: 100%;
}
footer .swrap .icon li:first-child img {
  padding-left: 15px;
}
footer .swrap > p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 1vw;
}

@media screen and (max-width: 1170px) {
  #section2 .swrap .project {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
  #section2 .swrap div:nth-child(5) .winfo,
  #section2 .swrap div:nth-child(6) .winfo {
    grid-template-columns: 1fr !important;
  }
  #section2 .swrap .project > p::after {
    width: 100%;
    height: 2px;
    top: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  #section2 .swrap .project > p {
    padding-right: 0;
    width: 50%;
  }
  #section2 .swrap .txt .site {
    margin-bottom: 30px;
  }
  #section2 .swrap .txt > p {
    margin-bottom: 30px;
  }
  #section2 .swrap .txt .wrapper {
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
  }
  #section2 .swrap .txt .link {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  #section1 .swrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #section1 .swrap .pwrap::before {
    content: none;
  }
  #section1 .swrap .pwrap {
    padding-left: 0;
  }
  #section1 .swrap .pwrap .profile .ptxt .name {
    justify-content: center;
    padding-left: 0;
  }
  #section1 .swrap .pwrap .profile .ptxt .list {
    justify-content: center;
  }
  #section1 .swrap .pwrap .edu h3 {
    text-align: center;
    padding-left: 0;
  }
  #section1 .swrap .pwrap .edu ul {
    justify-content: flex-end;
  }
  #section1 .swrap .pwrap .edu ul .year {
    margin: 3px 0 13px;
  }
  #section1 .swrap .pwrap .skills h3 {
    text-align: center;
    padding-left: 0;
  }
  #section1 .swrap .pwrap .skills ul {
    justify-content: center;
  }
  #section1 .swrap .pwrap .skills p {
    height: 40px;
  }
  footer .swrap {
    height: 90%;
  }
  footer .swrap .icon {
    gap: 50px;
  }
  footer .swrap > p {
    font-size: 1.5vw;
    bottom: 40px;
  }
}
@media screen and (max-width: 850px) {
}
@media screen and (max-width: 768px) {
  header {
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
  header .menu {
    gap: 30px;
  }
  #section0 {
    padding-top: 20px;
  }
  #section0 .swrap .tit {
    text-align: center;
    width: auto;
    left: 50%;
    transform: translate(-50%, -55%);
  }
  #section0 .swrap .tit h1 {
    font-size: 12vw;
  }
  #section0 .swrap .tit p {
    font-size: 4vw;
  }
  #section0 .swrap .con p {
    font-size: 2vw;
  }
  #section1 .swrap .pwrap .skills ul {
    gap: 15px;
  }
  #section1 .swrap .pwrap .skills p {
    height: 35px;
  }
  #section2 .swrap .project > p {
    width: 70%;
  }
  #section2 .swrap .txt > p br {
    display: none;
  }
  footer {
    height: 250px;
  }
  footer .swrap .icon {
    gap: 15px;
  }
  footer .swrap .icon li a {
    width: 30px;
  }
  footer .swrap .icon li:first-child img {
    padding-left: 8px;
  }
}
@media screen and (max-width: 570px) {
  #section2 .swrap .txt h1 {
    font-size: 9vw;
    line-height: 0.7;
  }
  #section2 .swrap .txt .site {
    font-size: 6vw;
  }
  #section2 .swrap .txt > p {
    font-size: 2.5vw;
  }
  #section2 .swrap .txt .wrapper {
    gap: 40px;
    font-size: 2.7vw;
  }
  #section2 .swrap .txt .link {
    gap: 5%;
  }
  #section2 .swrap .txt .link li {
    width: 90px;
  }
  #section2 .swrap .txt .link li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  header {
    width: calc(100% - 60px);
    font-size: 13px;
  }
  header .menu {
    gap: 8%;
  }
  #section0 .swrap .con p {
    font-size: 2.5vw;
  }
  #section1 .swrapper {
    gap: 30px;
  }
  #section1 .swrapper > p {
    height: 130px;
  }
  #section1 .swrap .pwrap .profile .ptxt .name {
    gap: 5px;
  }
  #section1 .swrap .pwrap h3 {
    font-size: 18px;
  }
  #section1 .swrap .pwrap .profile .ptxt .name .bir {
    font-size: 10px;
  }
  #section1 .swrap .pwrap .profile .ptxt .list {
    gap: 30px;
  }
  #section1 .swrap .pwrap .profile .ptxt .list li {
    font-size: 13px;
  }
  #section1 .swrap .pwrap .edu ul .year {
    font-size: 12px;
    margin: 2px 0 7px;
  }
  #section1 .swrap .pwrap .edu ul .infoa {
    font-size: 16px;
  }
  #section1 .swrap .pwrap .edu ul .infoa span {
    font-size: 10px;
  }
  #section1 .swrap .pwrap .skills ul {
    gap: 10px;
  }
  #section1 .swrap .pwrap .skills p {
    height: 27px;
  }
  #section2 .swrap .project > p {
    width: 100%;
  }
  #section2 .swrap .txt .link li {
    width: 80px;
  }
  #section2 .swrap .txt .link li a {
    font-size: 12px;
    padding: 3px 7px;
  }
  footer .swrap .icon {
    gap: 10px;
  }
  footer .swrap .icon li a {
    width: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  footer .swrap .icon li:first-child img {
    padding-left: 7px;
  }
  footer .swrap > p {
    font-size: 2vw;
  }
}
@media screen and (max-width: 390px) {
  #section1 .swrap .pwrap .profile {
    margin-bottom: 20px;
  }
  #section1 .swrap .pwrap .profile .ptxt .list li {
    font-size: 12px;
  }
  #section1 .swrap .pwrap .edu {
    margin-bottom: 20px;
  }
  #section1 .swrap .pwrap .edu ul .year {
    font-size: 10px;
    margin: 2px 0 7px;
  }
  #section1 .swrap .pwrap .edu ul .infoa {
    font-size: 14px;
  }
  #section1 .swrap .pwrap .edu ul .infoa span {
    font-size: 9px;
  }
  #section1 .swrap .pwrap .skills ul {
    gap: 7px;
  }
  #section1 .swrap .pwrap .skills p {
    width: 25px;
  }
}
