@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fefef2;
}
#intro > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#intro .txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  perspective: 1000px;
  z-index: 4;
}
#intro .txt span {
  position: relative;
  top: 30px;
  opacity: 0;
  filter: blur(10px);
}
#intro .symbol {
  opacity: 0;
}
#intro .symbol img {
  display: block;
  width: 30%;
  max-width: 180px;
  min-width: 120px;
  margin: 0 auto;
}
