@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
}
header .topInner {
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
}
header .top {
  padding: 0px 40px 20px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
header .logo {
  text-align: center;
}
header .logo img {
  width: 300px;
}
.topInner2 {
  position: fixed;
  z-index: 20;
  top: -70px;
  left: 0;
  width: 100%;
  height: 36px;
  padding: 16px 0;
  background-color: #fefef2;
  transition: 0.5s;
  text-transform: uppercase;
}
.topInner2 .top {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  line-height: 36px;
}
.topInner2 .top img {
  width: 115px;
}
section#maintop {
  height: 100vh;
  position: sticky;
  top: 0px;
  bottom: 0;
  background-color: #fefef2;
}
section#maintop .inner {
  height: 100%;
  margin: 0 40px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
section#maintop .visual {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 160px);
  height: 72%;
  background-image: url(https://www.bekseju.com/images/mainbg.jpg);
  background-size: cover;
  background-position: center;
}
section#maintop .visual p {
  position: absolute;
  width: 12%;
  /* height: 110%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section#maintop .visual p img {
  width: 100%;
  object-fit: cover;
  /* height: 100%; */
}
section#maintop .scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#maintop .scroll h6 {
  font-size: 13px;
  margin-bottom: 3px;
}
section#maintop .scroll p {
  width: 24px;
}
main {
  /* position: relative; */
  z-index: 1;
  display: flex;
}
main section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main section div {
  position: relative;
}
main section .hbo {
  width: 100%;
  height: 24px;
}
main section .hbo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section .txt a {
  display: block;
  aspect-ratio: 1 / 1.34;
  background-size: 100%;
  background-position: center;
  color: #fefef2;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 5s;
}
main section .txt a h3 {
  margin-top: 10%;
  font-size: 30px;
}
main section .txt a h4 {
  font-size: 17px;
}
main section .txt a h5 {
  margin: 80% 0 20% 0;
  font-size: 14px;
}
main section:first-child .txt a {
  background-image: url(https://www.bekseju.com/images/main-story-bg.png);
  transition: 5s;
}

main section:nth-child(2) .txt a {
  background-image: url(https://www.bekseju.com/images/main-craft-bg.png);
}
main section:last-child .txt {
  margin-top: -23px;
}
main section:last-child .txt a {
  padding-top: 23px;
  background-image: url(https://www.bekseju.com/images/main-taste-bg.png);
}
main section:first-child .txt a:hover,
main section:nth-child(2) .txt a:hover,
main section:last-child .txt a:hover {
  background-position: center;
  background-size: 105%;
}
main section > div.photo {
  aspect-ratio: 1 / 1.34;
}
main section > div.medi p {
  height: 100%;
}
main section:nth-child(2) div.medi {
  height: 100%;
  aspect-ratio: 1/1.6;
}
main section img,
main section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section .bek {
  background: #fefef2;
}
main section .bek img {
  transform: scale(94%);
}
main section div::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background-image: url(https://www.bekseju.com/images/p.png);
  z-index: 2;
}
main section:first-child div::before {
  right: -4px;
  top: 2px;
}
main section:last-child div::before {
  left: -4px;
  top: 3px;
}
main section:nth-child(2) div:first-child:before {
  top: 10px;
}
main section:last-child div.txt::before {
  top: 22px;
}
main section div::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  background-image: url(https://www.bekseju.com/images/ph.png);
  z-index: 3;
}

footer {
  position: relative;
  z-index: 5;
}
.ftop {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 65px;
  margin-top: -7vmin;
}
.ftop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .ftag {
  background-color: #242902;
  color: #fff;
  padding: 0 40px 50px;
}
