@charset "utf-8";
@font-face {
  font-family: "Archivo";
  src: url(../font/Archivo/Archivo-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  overflow: hidden;
}

section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.visible {
  opacity: 1;
}

footer {
  display: none;
}
