@charset "utf-8";
@font-face {
  font-family: "Archivo";
  src: url(../font/Archivo/Archivo-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  overflow: hidden;
}
header {
  position: fixed;
  width: 100%;
  height: 6rem;
  background: #fff;
  z-index: 9999;
}
header > .inner {
  height: 100%;
  padding: 0 3.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .inner > .logo {
  width: 15.6rem;
}
header > .inner > .logo a img {
  max-width: 13.7rem;
  width: 100%;
}
header > .inner > nav {
  flex-grow: 1;
}
header > .inner > nav > ul {
  display: flex;
  justify-content: flex-end;
}
header > .inner > nav > ul > li > a {
  font-family: "Archivo", sans-serif;
  display: block;
  padding: 0.9rem 1.6rem;
  color: #000;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
header > .inner > .burger {
  width: 26px;
  height: 30px;
  position: relative;
  margin-left: 1.3rem;
  cursor: pointer;
}
header > .inner > .burger > span {
  display: block;
  width: 26px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  top: 4px;
  border-radius: 2px;
}
header > .inner > .burger > span:nth-child(2) {
  top: 14px;
}
header > .inner > .burger > span:nth-child(3) {
  top: 24px;
}

section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.visible {
  opacity: 1;
}

footer {
  position: relative;
  display: none;
  width: 100%;
  margin: 0 auto;
  margin-top: -12px;
  padding: 3.7rem 0;
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
  background: #fafafa;
}
footer .finner {
  max-width: 1230px;
  margin: 0 auto;
}
footer .finner > nav > ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
footer .finner > nav > ul li a {
  padding: 0.6rem 0;
  font-size: 0.8rem;
  font-weight: 400;
}
footer .finner > .bot {
  padding: 3.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .finner > .bot > .add {
  width: 50%;
  position: relative;
  color: #888888;
}
footer .finner > .bot > .add .logo {
  margin-bottom: 1.3rem;
}
footer .finner > .bot > .add .logo img {
  width: 14rem;
}
footer .finner > .bot > .add > .info {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
footer .finner > .bot > .add > .info span {
  font-weight: 700;
}
footer .finner > .bot > .add > .info span.line {
  display: inline-block;
  height: 12px;
  margin: 0 15px;
  border-left: 1px solid #ccc;
}
footer .finner > .bot > .add .copy {
  font-size: 0.7rem;
  font-weight: 300;
}
footer .finner > .bot > .add::after {
  content: "";
  position: absolute;
  height: 5.6rem;
  width: 2px;
  background: #dcdcdc;
  top: 50%;
  transform: translateY(-50%);
  right: -4.4rem;
}
footer .finner > .bot .sns a {
  margin-left: 0.6rem;
}
footer .finner > .bot .sns a img {
  width: 2.2rem;
}
