@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
}
header {
  display: flex;
  width: 1190px;
  height: 123px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
nav .menu {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}
nav > .menu > li {
  padding: 0 29px;
  position: relative;
}
nav > .menu > li:hover > a,
nav > .menu > li:hover > .sub a {
  color: #3a466a;
}
nav > .menu > li .sub {
  position: absolute;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: 180px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  z-index: 1;
  line-height: 2;
}
nav > .menu > li .sub li:hover a {
  text-decoration: underline;
  font-weight: 700;
}
nav > .menu:hover > li .sub {
  opacity: 1;
}
nav .subbg {
  position: absolute;
  left: 0;
  top: 123px;
  width: 100%;
  height: 205px;
  background: rgba(242, 242, 242, 0.9);
  opacity: 0;
}
nav .menu:hover ~ .subbg {
  opacity: 1;
}
header .right {
  position: relative;
}
header .right .lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: -10px;
}
header .right .lang li:nth-child(2)::before {
  content: "|";
  font-size: 10px;
  color: #d4d4d4;
  padding-right: 5px;
}
header .right > a {
  display: block;
  width: 133px;
  background: #00a5b1;
  color: #fff;
  text-align: center;
  padding: 8px 0 9px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.visual {
  width: 100%;
  max-width: 2560px;
  height: 720px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 123px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
