@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

header {
  width: 100%;
  height: 123px;
  background: #fff;
}
header .hinner {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
}
nav > .menu > li {
  padding: 0 29px;
  position: relative;
}
nav > .menu > li:hover > a,
nav > .menu > li:hover > .sub a {
  color: #3a466a;
}
nav > .menu > li .sub {
  position: absolute;
  left: 0;
  padding-top: 60px;
  width: 100%;
  height: 180px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  line-height: 2;
}
nav > .menu > li .sub li:hover a {
  text-decoration: underline;
  font-weight: 700;
}
nav > .menu:hover > li .sub {
  opacity: 1;
  z-index: 20;
}
nav .subbg {
  position: absolute;
  left: 0;
  top: 123px;
  width: 100%;
  height: 205px;
  background: rgba(242, 242, 242, 0.9);
  opacity: 0;
}
nav .menu:hover ~ .subbg {
  opacity: 1;
  z-index: 15;
}
header .right {
  position: relative;
}
header .right .lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: -10px;
}
header .right .lang li:nth-child(2)::before {
  content: "|";
  font-size: 10px;
  color: #d4d4d4;
  padding-right: 5px;
}
header .right > a {
  display: block;
  width: 133px;
  background: #00a5b1;
  color: #fff;
  text-align: center;
  padding: 8px 0 9px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.visual {
  width: 100%;
  max-width: 2560px;
  height: 720px;
  margin: 0 auto;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #b7b7b7;
  opacity: 1;
  transition: all 0.5s;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}
.swiper-pagination-bullet-active {
  background: #b7b7b7;
  width: 86px;
  margin: 0 10px;
}

.content {
  width: 1190px;
  margin: 0 auto;
  margin-top: 10px;
}
.content > h1 {
  padding: 60px 0 28px;
  font-size: 22px;
  font-weight: 500;
  color: #3a466a;
}
.content .con {
  width: 100%;
  display: flex;
}
.content .con .leftcon {
  width: 930px;
}
.content .con .leftcon ul {
  position: relative;
  height: 953.156px;
  display: flex;
  flex-wrap: wrap;
}
.content .con .leftcon ul li {
  width: 260px;
  margin-right: 50px;
  margin-bottom: 40px;
}
.content .con .leftcon ul li:nth-child(4) {
  position: relative;
  top: -124.578px;
}
.content .con .leftcon ul li a img {
  width: 258px;
  height: 100%;
  object-fit: cover;
}
.content .con .leftcon .txt {
  padding: 17px 0 20px;
}
.content .con .leftcon .txt .cate {
  margin-bottom: 10px;
  font-size: 12px;
  color: #888;
  font-weight: 500;
}
.content .con .leftcon .txt .el::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background: #3a466a;
  top: 9px;
  left: 0;
  display: block;
}
.content .con .leftcon .txt .el {
  color: #222;
  font-size: 14px;
  line-height: 1.43;
  position: relative;
  padding-left: 18px;
  letter-spacing: -0.7px;
}
.content .con .leftcon .more {
  margin: -16px 0 100px;
  width: 117px;
  margin: 0 auto;
  height: 29px;
  border: 1px solid #3a466a;
  border-radius: 15px;
}
.content .con .leftcon .more a {
  display: block;
  color: #3a466a;
  text-align: center;
  line-height: 29px;
  font-size: 12px;
}
.content .con .rightcon {
  margin-bottom: 100px;
  width: 260px;
  background: #c8e2e0 url(http://www.caffebene.co.kr/images/m-cafe-bg.jpg)
    no-repeat;
}
.content .con .rightcon h3 {
  padding: 30px 20px 80px;
  font-size: 16px;
  font-weight: 500;
  color: #00a5b1;
  line-height: 1.38;
}
.content .con .rightcon ul li {
  text-align: center;
  margin-bottom: 40px;
}
.content .con .rightcon .txt {
  padding: 30px 20px 20px;
}
.content .con .rightcon .txt p:first-child {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.content .con .rightcon .txt p:nth-child(2) {
  font-size: 14px;
  color: #222;
  line-height: 1.43;
}
.content .con .rightcon a {
  display: inline-block;
  width: 117px;
  height: 29px;
  line-height: 29px;
  background: #00a5b1;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
}
